server {
  listen      {{ http_port }};
  listen [::]:{{ http_port }};

  server_name {{ ([domain_name] + alt_names) | join(' ') }};

  access_log /var/log/nginx/access.log request_time;

  location = / {
    gzip off;
    default_type "text/plain";
    return 200 $remote_addr;
  }

  location /.well-known/ {
    root {{ nginx_base_dir }};
  }
}
