server {
  listen      {{ http_port }};
  listen [::]:{{ http_port }};

  server_name {{ ([domain_name] + alt_names) | join(' ') }};

  access_log /var/log/nginx/access.log request_time;

  if ($is_allowed_method = 0) {
    add_header Allow "GET, HEAD";
    return 405 "Method Not Allowed\n";
  }

  location = / {
    gzip off;
    default_type "text/plain";
    return 200 $remote_addr;
  }

  location / {
    return 400 "Not Found\n";
  }

  location /.well-known/ {
    root {{ nginx_base_dir }};
  }
}
