acme_issuer {{ nginx_config }} {
  uri         {{ acme_directory }};
  contact     {{ acme_email }};
  state_path  /var/cache/nginx/acme-{{ nginx_config }};
  account_key ecdsa:256;
{% if acme_terms_agreed == 1 %}
  accept_terms_of_service;
{% endif %}
}

server {
  listen      {{ https_port }} ssl;
  listen [::]:{{ https_port }} ssl ipv6only=on;
  listen      {{ https_port }} quic reuseport;
  listen [::]:{{ https_port }} quic reuseport;
  http2 on;

  server_name {{ ([domain_name] + alt_names) | join(' ') }};

  acme_certificate      {{ nginx_config }} key=ecdsa:384;
  ssl_certificate       $acme_certificate;
  ssl_certificate_key   $acme_certificate_key;
  ssl_certificate_cache max=2;

  ssl_protocols TLSv1.3;
  ssl_ciphers   "TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384";
  ssl_prefer_server_ciphers on;

  access_log  /var/log/nginx/access.log request_time;
  access_log  /var/log/nginx/sslparams.log sslparams;

  location = / {
    if ($is_allowed_method = 0) {
      add_header Allow "GET, HEAD";
      return 405 "Method Not Allowed\n";
    }

    gzip off;
    add_header Alt-Svc 'h3=":443"; ma=86400';
    default_type "text/plain";
    return 200 $remote_addr;
  }

  location / {
    if ($is_allowed_method = 0) {
      add_header Allow "GET, HEAD";
      return 405 "Method Not Allowed\n";
    }

    add_header Alt-Svc 'h3=":443"; ma=86400';
    default_type "text/plain";
    return 400 "Not Found\n";
  }

  location /.well-known/ {
    if ($is_allowed_method = 0) {
      add_header Allow "GET, HEAD";
      return 405 "Method Not Allowed\n";
    }

    add_header Alt-Svc 'h3=":443"; ma=86400';
    root {{ nginx_base_dir }};
  }
}
