---
- name: Setup Nginx
  hosts: web
  become: true
  tasks:
    - name: Setup Nginx repository key
      ansible.builtin.apt_key:
        id: 573BFD6B3D8FBC641079A6ABABF5BD827BD9BF62
        url: https://nginx.org/keys/nginx_signing.key
        keyring: /etc/apt/keyrings/nginx-archive-keyring.gpg
        state: present
    - name: Setup Nginx repository
      ansible.builtin.apt_repository:
        repo: >-
          deb [signed-by=/etc/apt/keyrings/nginx-archive-keyring.gpg]
          http://nginx.org/packages/mainline/ubuntu
          {{ ansible_distribution_release }}
          nginx
        state: present
        filename: nginx
    - name: Set nginx repository preference
      ansible.builtin.copy:
        dest: /etc/apt/preferences.d/99nginx
        content: |
          Package: *
          Pin: origin nginx.org
          Pin: release o=nginx
          Pin-Priority: 900
        mode: "0644"
    - name: Install nginx  # noqa package-latest
      ansible.builtin.apt:
        name:
          - nginx
          - nginx-module-acme
        state: latest
        update_cache: true
      notify:
        - Restart nginx
    - name: Install nftables rules
      ansible.builtin.copy:
        src: imds.nft
        dest: /etc/nftables.d/
        force: true
        mode: '0644'
        owner: root
      when: 'is_aws'
      notify:
        - Reload nftables
    - name: Load nftables rules
      ansible.builtin.lineinfile:
        dest: '/etc/nftables.conf'
        line: include "/etc/nftables.d/imds.nft"
      notify:
        - Reload nftables
    - name: Install updated nginx config
      ansible.builtin.copy:
        src: nginx.conf
        dest: /etc/nginx/nginx.conf
        # This file is shipped by default and needs to be replaced
        force: true
        mode: "0644"
      notify:
        - Reload nginx
    - name: Delete default nginx config
      ansible.builtin.file:
        path: /etc/nginx/conf.d/default.conf
        state: absent
    - name: Install HTTP config
      ansible.builtin.template:
        src: "{{ nginx_config }}-nginx-http.conf.j2"
        dest: /etc/nginx/conf.d/http.conf
        mode: "0644"
      notify:
        - Reload nginx
    - name: Install HTTPS config
      ansible.builtin.template:
        src: "{{ nginx_config }}-nginx-https.conf.j2"
        dest: /etc/nginx/conf.d/https.conf
        mode: "0644"
      notify:
        - Reload nginx
    - name: Enable nginx systemd service
      ansible.builtin.service:
        name: nginx
        enabled: true
        state: started
  handlers:
    - name: Reload nginx
      ansible.builtin.service:
        name: nginx
        state: reloaded
    - name: Restart nginx
      ansible.builtin.service:
        name: nginx
        state: restarted
    - name: Reload nftables
      ansible.builtin.command:
        cmd: nft -f /etc/nftables.conf
